spack:
  specs:
  - 'access-om2@latest'
  packages:
    mom5:
      require:
      - '@{{ mom5_version }}'
    cice5:
      require:
      - '@{{ cice5_version }}'
    libaccessom2:
      require:
      - '@git.{{ ref }}=access-om2'
    oasis3-mct:
      require:
      - '@{{ oasis3_mct_version }}'
    access-fms:
      require:
      - '@{{ access_fms_version }}'
    access-generic-tracers:
      require:
      - '@{{ access_generic_tracers_version }}'
    access-mocsy:
      require:
      - '@{{ access_mocsy_version }}'
    netcdf-c:
      require:
      - '@{{ netcdf_c_version}}'
    netcdf-fortran:
      require:
      - '@{{ netcdf_fortran_version }}'
    parallelio:
      require:
      - '@{{ parallelio_version }}'
    openmpi:
      require:
      - '@{{ openmpi_version }}'
    all:
      require:
      - '%{{ gcc_compiler }} target={{ target }}'
  concretizer:
    unify: false
  view: false

